# Dependencies
node_modules/
bun.lockb

# Build outputs
pvc
pvc.exe
*.exe

# PVC data
.pvc/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

*tmp*

.env
key.json
*.pem
*.key
*.exe
*.bun-Build
*.bun-Debug
*sensitive_examples.txt
*debug-output.txt
*debug-output-2.txt